<!--<%= provide(:title, @category.name) %>
<h1><%= @category.name %></h1>

<% if @category.words.empty? %>
  <%= link_to t("category.no_word"),  new_admin_word_path,
    class: "btn btn-primary" %>
<% else %>
  <table class="table">
    <thread>
      <%= render "admin/words/header_table" %>
    </thread>
    <%= will_paginate @words %>
    <tbody>
      <%= render @words %>
    </tbody>
  </table>
<% end %>
-->
