<%= provide(:title, t("word.edit")) %>
<h1><%= t("word.label_update") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @word] do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :word %>
      <%= f.text_field :learning_word, class: "form-control" %>

      <%= f.label :meaning %>
      <%= f.text_field :meaning, class: "form-control" %>

      <%= f.label :Category %>
      <div class="form-group">
        <% if Caterory.any? %>
          <%= f.collection_select :caterory_id, Caterory.all, :id, :name, {},
            {class: "form-control", id: "collection"} %>
        <% else %>
          <%= link_to t("category.no_category"), new_admin_caterory_path,
            class: "btn btn-primary" %>
        <% end %>
      </div>

      <%= f.submit t("form.update"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
