<%= provide(:title, t(".list")) %>
<h1><%= t(".list") %></h1>

<table class="table">
  <thread>
    <%= render "header_table" %>
  </thread>
  <%= will_paginate %>
  <tbody>
    <%= render @words %>
  </tbody>
</table>
