<%= provide(:title, t("view.words.list")) %>
<h1><%= t("view.words.list") %></h1>

<table class="table">
  <thread>
    <%= render "header_table" %>
  </thread>
  <%= will_paginate %>
  <tbody>
    <%= render @words %>
  </tbody>
</table>
