<%= provide(:title, t("category.list")) %>
<h1><%= t("category.list") %></h1>

<div class="col-md-8 col-md-offset-2">
  <% @categories.each do |category| %>
    <div class="well well-lg">
      <div class="row" id="category">
        <div class="col col-md-4">
          <%= link_to category.name, category %>
        </div>
        <div class="col col-md-4">
          <% if can? :destroy, category %>
            <div class="col col-md-6">
              <% if category.words.not_learned(current_user.id).present? %>
                <button type="button" class="btn btn-info btn-lg">
                  <%= link_to t("category.start"), lessons_path(caterory_id: category.id),
                    method: :post %>
                </button>
              <% else %>
                <p id="complete_admin"><%= t("category.complete") %></p>
              <% end %> 
            </div>
            <div class="col col-md-6">
              <button type="button" class="btn btn-info btn-lg">
                <%= link_to t("category.delete"), category, method: :delete,
                  data: {confirm: t("admin.admin_confirm")} %>
              </button> 
            </div>
          <% else %>
            <div class="col col-md-4" id="button-color">
              <% if category.words.not_learned(current_user.id).present? %>
                <button type="button" class="btn btn-info btn-lg">
                  <%= link_to t("category.start"), lessons_path(caterory_id: category.id),
                    method: :post %>
                </button>
              <% else %>
                <p id="complete_admin"><%= t("category.complete") %></p>
              <% end %> 
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
