<%= provide(:title, t("category.list")) %>
<h1><%= t("category.list") %></h1>

<div class="col-md-8 col-md-offset-2">
  <% @categories.each do |category| %>
    <div class="well well-lg">
      <div class="row" id="category">
        <div class="col col-md-4">
          <%= link_to category.name, category %>
        </div>  
        <div class="col col-md-4" id="button-color">
          <% if category.words.not_learned(current_user.id).present? %>
            <button type="button" class="btn btn-info btn-lg">
              <%= link_to t("category.start"), lessons_path(caterory_id: category.id),
                method: :post %>
            </button>
          <% else %>
            <p id="complete"><%= t("category.complete") %></p>
          <% end %>    
        </div>
      </div>
    </div>
  <% end %>
</div>
