<ul class="nav navbar-nav navbar-right">
  <li>
    <%= link_to new_user_registration_path do %>
      <span class="glyphicon glyphicon-user"></span>
      <%= t("title.signup") %>
    <% end %>
  </li>
  <li>
    <%= link_to new_user_session_path do %>
      <span class="glyphicon glyphicon-log-in"></span>
      <%= t("title.login") %>
    <% end %>
  </li>
  <li>
    <%= link_to t("title.facebook"),
      user_facebook_omniauth_authorize_path %>
  </li>
</ul>
